<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="./../assets/css/style.css">
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <input type="text" name="input" id="input">
    <button id="btn">Pobierz dane</button>
    <div id="showData"></div>

    {{!-- <img src="/assets/GIT_-_slajd.png" alt=""> --}}
    <div id="return"> Wynik: {{result}}</div>
    <a href="./about">Idź do strony o mnie</a>
    <script src="./../views/js/func.js"></script>
</body>
</html>